/** Override the auto complete styles */
.pac-container {
    border-radius: 2px;
    border-top: none;
    font-family: Roboto, sans-serif;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    -o-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.pac-container .pac-item{
    border-top: none;
}

.pac-container .pac-item .pac-item-query{
    color: #333;

}

.wpgmza-google-maps-api-error-overlay,
	.wpgmza-google-maps-api-error-overlay *
{
	text-align: left;
}

.wpgmza-google-api-error-list
{
	list-style: none;
}

.wpgmza-google-api-error-list li
{
	background: ghostwhite;
	padding: 0.5em;
	margin: 0.5em;
}

.wpgmza-google-api-error-list li:before
{
	content: "\26D4";
	color: red;
}

.wpgmza-google-maps-api-error-overlay a
{
	color: blue;
}

.wpgmza-google-maps-api-error-overlay .wpgmza-documentation-buttons
{
	float: right;
}

.wpgmza-google-maps-api-error-overlay .wpgmza-documentation-buttons a
{
	color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 9pt;
    outline: none;
}

.wpgmza-google-maps-api-error-overlay .wpgmza-documentation-buttons a:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

.wpgmza-google-maps-api-error-overlay .wpgmza-documentation-buttons a:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

.wpgmza-google-maps-api-error-overlay .wpgmza-documentation-buttons a i
{
	font-weight: bold;
	padding-right: 0.3em;
}

.wpgmza-google-maps-api-error-overlay .wpgmza-front-end-only
{
	color: red;
	font-size: 0.8em;
}

.wpgmza-google-html-overlay
{
	position: absolute;
}

.wpgmza-google-maps-api-error-overlay
{
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 100%;
	
	background: rgba(255,255,255,0.8);
	padding: 1em;
	
	text-align: center;
	z-index: 2;
	
	overflow-y: scroll;
}

[data-wpgmza-table]
{
	overflow: visible;
}

.wpgmza-modern-store-locator .wpgmza_cat_checkbox_holder
{
	margin: 0 auto;
	pointer-events: all;
}

.ol-info-window-plain
{
	min-width: 240px;
}

.wpgmza-gallery-input li
{
	position: relative;
	
	width: 120px;
	height: 120px;
	margin: 0.25em;
	
	display: inline-block;
	vertical-align: top;
	
	background-size: cover;
	box-sizing: border-box;
}

.wpgmza-gallery-input li.wpgmza-add-new-picture
{
	cursor: pointer;
	border: #E8E8E8 dashed 6px;
	color: #E8E8E8;
}

.wpgmza-gallery-input li.wpgmza-add-new-picture:hover
{
	border-color: lightgray;
	color: lightgray;
}

.wpgmza-gallery-input li.wpgmza-add-new-picture>i
{
	position: absolute;
	
	left: 50%;
	top: 50%;
	
	transform: translate(-50%, -50%);
	
	font-size: 32px;
}

.wpgmza-marker-panel fieldset>*
{
	display: inline-block;
	vertical-align: top;
}

.wpgmza-marker-panel fieldset>label
{
	width: 180px;
}

.wpgmza-marker-icon-preview
{
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: #E8E8E8 dashed 6px;
}

.wpgmza-marker-icon-picker>*
{
	display: inline-block;
	vertical-align: middle;
}

.ol-marker>img
{
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0%);
}