.wpgmza-gutenberg-block
{
	padding: 1em;
	height: 300px;
	background: #F3F3F4;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}


.wpgmza-gutenberg-block .wpgmza-gutenberg-block-title
{
	white-space: nowrap;
	font-size: 9pt;
	color: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wpgmza-gutenberg-block .dashicon.dashicons-location-alt {
    height: 60px;
    font-size: 1.4em;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.wpgmza-gutenberg-block-title
{
	padding-left: 0.5em;
}



.map-block-gutenberg-button-container
{
	text-align: center;
}

.map-block-gutenberg-button-container>a,
	.map-block-gutenberg-button-container>button
{
	display: block;
	width: 100%;
	text-align: center;
}

.map-block-gutenberg-button-container i
{
	padding-right: 0.34em;
}

/* For new modules */
.wpgmza-gutenberg-block-module {
	padding: 1em;
	background: #F3F3F4;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
	font-size: 0.8em;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.wpgmza-gutenberg-block-hint {
    font-size: 0.8em;
    opacity: 0.9;
    font-style: italic;
    margin-top: 15px;
}