.wpgmza-loader,
.wpgmza-loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.wpgmza-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,0, 0.2);
  border-right: 1.1em solid rgba(0,0,0, 0.2);
  border-bottom: 1.1em solid rgba(0,0,0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.6s infinite linear;
  animation: load8 0.6s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wpgmza-centered
{
	text-align: center;
}

.wpgmza-preloader.main-preloader>.wpgmza-loader
{
	margin: 2em auto;
}

.wpgmza-loader
{
	overflow: hidden;
}

.wpgmza-map
{
	position: relative;
}

.wpgmza-map .wpgmza-loader
{
	position: absolute;
	z-index: 99;
	bottom: 1em;
	left: 1em;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


form.wpgmza fieldset>*:not(.switch):not(label)
{
	max-width: calc(100% - 280px);
}

form.wpgmza fieldset>*:not(.switch)
{
	display: inline-block;
	vertical-align: top;
}

.wpgmza-map fieldset>*,
	.wpgmza-directions-box fieldset>*
{
	display: inline-block;
	vertical-align: top;
}

.wpgmza-directions-box fieldset>label
{
	width: 160px;
}

form.wpgmza fieldset,
	.wpgmza-map fieldset
{
	margin: 1em 0;
}

form.wpgmza fieldset>label:first-child
{
	width: 256px;
}

form.wpgmza p:first-child
{
	margin-top: 0;
}

form.wpgmza textarea
{
	width: 100%;
	height: 20vh;
}

form.wpgmza input[type='number']
{
	width: 56px;
}

form.wpgmza .pro-upgrade
{
	background-color: #d7e6f2; 
	font-weight: bold;
}

form.wpgmza #themes img,
	form.wpgmza #marker-listing-options img
{
	width: 200px;
	height: auto;
	margin: 4px;
}

form.wpgmza #marker-listing-options img
{
	width: 128px;
}

form.wpgmza #themes input[type="radio"],
	form.wpgmza #marker-listing-options input[type="radio"]
{
	display: none;
}

form.wpgmza #themes input[type="radio"]:checked + img,
	form.wpgmza #marker-listing-options input[type="radio"]:checked + img
{
	border-left: 4px solid #0073aa;
	border-radius: 2px;
	position: relative;
	left: -4px;
	margin-right: 0px;
}

form.wpgmza .marker-listing-styles>li
{
	display: inline;
}

form.wpgmza .marker-listing-styles.grey-out
{
	pointer-events: none;
	-webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    filter: gray;
}

form.wpgmza .three-col
{
	display: flex;
}

form.wpgmza .three-col>.col
{
	flex: 1;
	padding: 1em;
}

form.wpgmza .three-col img
{
	max-width: 100%;
}

form.wpgmza .three-col .wpgmza-promo
{
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	position: relative;
}

form.wpgmza .wpgmza-promo-overlay
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

form.wpgmza textarea.marker-description
{
	width: 25vw;
	height: 4em;
}

form.wpgmza .ui-slider
{
	width: 33vw;
}

form.wpgmza .default-radius-units
{
	margin-left: 0.5em;
}

#wpgmza_map_panel .two-col
{
	display: flex;
}

#wpgmza_map_panel .two-col>*
{
	flex: 1;
}

.wpgmza-footer-promo-item
{
	display: flex;
}

.wpgmza-footer-promo-item>*
{
	margin: 1em;
}

.wpgmza-footer-promo-item img
{
	width: 260px;
	height: auto;
	border: 4px solid white;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.wpgmza-footer-promo-item .text
{
	display: flex;
	align-items: center;
	color: #666;
	font-size: 18px;
}

#wpgmza-markers-tab.add-marker button.update-marker,
	#wpgmza-markers-tab.add-marker button.delete-marker,
	
	#polygons.add-polygon button.update-polygon,
	#polygons.add-polygon button.delete-polygon,
	
	#polylines.add-polyline button.update-polyline,
	#polylines.add-polyline button.delete-polyline
{
	display: none;
}

#wpgmza-markers-tab.update-marker button#add-marker,
	#polygons.update-polygon button#draw-polygon,
	#polylines.update-polyline button#draw-polyline
{
	display: none;
}

#marker-buttons, #polygon-buttons, #polyline-buttons
{
	text-align: center;
}

button.delete-marker,
	button.delete-polygon,
	button.delete-polyline,
	button.delete-heatmap,
	form.wpgmza button.delete
{
	background: red !important;
	border-color: #a00 !important;
	color: white;
	text-shadow: 0 -1px 1px #996700, 1px 0 1px #996700, 0 1px 1px #996700, -1px 0 1px #996700 !important;
	box-shadow: 0 1px 0 #996700 !important;
	border: 0;
	padding: 5px 10px;
}

button.delete-heatmap
{
	padding: 0 10px !important;
}

.wpgmza-vertex-context-menu
{
	position: absolute;
	background: white;
	padding: 3px;
	color: #666;
	font-weight: bold;
	border: 1px solid #999;
	font-family: sans-serif;
	font-size: 12px;
	box-shadow: 1px 3px 3px rgba(0, 0, 0, .3);
	margin-top: -10px;
	margin-left: 10px;
	cursor: pointer;
}

.wpgmza-vertex-context-menu:hover
{
	background: #eee;
}

form.wpgmza #marker-table-container table
{
	width: 100% !important;
	border-collapse: collapse;
}

form.wpgmza #marker-table-container th:first-child,
	form.wpgmza #marker-table-container td:first-child,
	form.wpgmza #marker-table-container th:last-child,
	form.wpgmza #marker-table-container td:last-child
{
	width: 16px !important;
}

form.wpgmza #marker-table-container td
{
	text-align: center;
}

form.wpgmza #marker-table-container td.address
{
	text-align: left;
}

.wpgmza-big-save, .centre
{
	text-align: center;
	clear: both;
}

.wpgmza-datatable td:not(.address)
{
	white-space: nowrap;
}

.wpgmza-map fieldset.store_locator_radius .store_locator_radius_units
{
	padding-left: 0.5em;
}

form.wpgmza .wpgmza-map *[id$='instructions']
{
	position: absolute;
	left: 6px;
	bottom: 6px;
	display: none;

	display: block;	
	
	background: rgba(255,255,255,0.85);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

form.wpgmza .ui-slider-range.ui-widget-header
{
	background: #008CD0 !important;
}

form.wpgmza table
{
	width: 100%;
}

form.wpgmza table th
{
	text-align: left;
}

.store-locator
{
	margin-bottom: 1em;
}

.wpgmza-datatable.wpgmza-marker-listing .wpgmza-marker-icon
{
	max-width: 64px;
	max-height: 64px;
}

.wpgmza-info-window-circular
{
	width: 266px;
	height: 266px;
	overflow: hidden;
	border-radius: 100%;
}

.wpgmza-info-window-circular
{
	display: flex;
	flex-direction: column;
}

.wpgmza-info-window-circular>*
{
	flex: 1;
}

.wpgmza-info-window-circular .wpgmza-info-window-button-container
{
	display: block;
}

.wpgmza-info-window-circular .wpgmza-info-window-button-container>a
{
	display: block;
}

.wpgmza-info-window-circular .wpgmza-middle
{
	padding: 0.33em 1.25em;
}

.wpgmza-info-window-circular [name='title']
{
	font-size: 1.5em;
}

.wpgmza-info-window-circular [name='address']
{
	font-size: 0.8em;
}

.wpgmza-info-window-circular [name='description']
{
	max-height: 4em;
	overflow-y: scroll;
}

#wpgmza-map-edit-page form.wpgmza
{
	padding-right: 1em;
}

#map-edit-tabs
{
	clear: both;
}

#map-edit-tabs>.ui-tabs-panel
{
	border-top: 3px solid #0073AA;
}

#map-edit-tabs>ul.ui-tabs-nav>li
{
	border-top-right-radius: 6px;
}

#wpgmza-map-edit-page .wpgmza-accordion>h3
{
	margin: 0;
	border-bottom: 1px solid lightgrey;
	font-weight: normal;
	cursor: pointer;
}

/*#wpgmza-map-edit-page .wpgmza-accordion>h3>.fa-minus-square,
	#wpgmza-map-edit-page .wpgmza-accordion>h3.ui-accordion-header-active>.fa-plus-square
{
	display: none;
}*/

#wpgmza-map-edit-page .wpgmza-accordion>h3.ui-accordion-header-active>.fa-plus-square
{
	display: none;
}

#wpgmza-map-edit-page .wpgmza-accordion>h3:not(.ui-accordion-header-active)>.fa-minus-square
{
	display: none;
}

#map-edit-tabs>.ui-tabs-panel
{
	padding: 0;
}

#wpgmza-map-edit-page .ui-accordion-content-active+.ui-accordion-header
{
	border-top: 1px solid lightgrey;
}

.wpgmza-accordion .ui-accordion-content
{
	padding: 1em;
}

.wpgmza-accordion .ui-accordion-header-active
{
	color: white;
	background: #0073AA;
}

.wpgmza-accordion .ui-accordion-content-active
{
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}

#wpgmza-top-save
{
	float:right;
	font-weight: normal;
	font-size: 1.2em;
	padding: 0.32em 0.67em;
	background: #0073AA;
	color: white;
	border: none;
	cursor: pointer;
}

#wpgmza-map-edit-page .wpgmza-map
{
	margin: 0.5em 0;
}

.wpgmza-warning, .wpgmza-halt
{
	position: relative;
	padding: 0.5em 0.5em 0.5em 48px;
	border-radius: 2em;
	min-height: 36px;
}

.wpgmza-warning
{
	background: rgba(255,255,0,0.75) url('../images/warning.png') 12px center no-repeat;
	color: black;
	text-shadow: 0px -1px 0px rgba(255,255,255,0.5);
}

.wpgmza-halt
{
	background: rgba(255,0,0,0.75) url('../images/no-entry.png') 6px center no-repeat;
	color: white;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
}

.wpgmza-halt a, .wpgmza-warning a
{
	text-shadow: none;
	color: #00f;
}

.wpgmza-warning:after
{
	content: "";
	position: absolute;
	top: 50%;
	left: 1em;
	width: calc(100% - 2em);
	height: 45%;
	background: black;
	border-radius: 999px;
	background: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.35));
	pointer-events: none;
}

.wpgmza-halt:after
{
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.2));
	pointer-events: none;
}

#map-edit-tabs>div:not(#settings)
{
	padding: 1em; 0;
}

.wpgmza-glow
{
	box-shadow: 0px 0px 2px yellow !important;
}

#map-edit-page .wpgmza-map.floating
{
	
}

.wpgmza-engine-map
{
	position: relative;
}

.osm-info-window-plain
{
	position: absolute;
	bottom: 53px;
	left: 0px;
	transform: translateX(-50%);
	
	background: white;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	border: 1px solid lightgray;
	padding: 0.5em;
}

.osm-info-window-plain:after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -8px;
	margin-bottom: -8px;
}

.osm-info-window-close
{
	float: right;
	margin: 0 0 3px 3px;
	cursor: pointer;
}

.osm-marker
{
	z-index: 1;
}

.osm-marker>img
{
	max-width: none !important;
}

.osm-info-window-container,
	.wpgmza-pro-info-window-container
{
	z-index: 999999;
}

ul.wpgmza-inline-bullet li
{
  list-style: none;
  display: inline;
}

ul.wpgmza-inline-bullet li:not(:first-child):before
{
  content: '\2022\00a0';
}

.wpgmza-template-hint ul.wpgmza-inline-bullet
{
	font-style: italic;
}



.wpgmza-map>*
{
	position: relative;
}

.wpgmza-layout-handle
{
	display: none;
	
	position: absolute;
	right: 0;
	bottom: 0;
	/* transform: translateY(-50%); */
	text-align: center;
	backgrounD: white;
	color: black;
	/*border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;*/
	padding: 0.1em !important;
	box-shadow: -2px 2px 5px rgba(0,0,0,0.5);
	font-size: 1.3em;
	
	border: 1px solid lightgray;
	
	cursor: -webkit-grab;
	cursor: grab;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wpgmza-map>*:hover .wpgmza-layout-handle
{
	display: block;
}

.wpgmza-in-map-grid
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.wpgmza-in-map-grid .wpgmza-row
{
	-webkit-flex: 5;
	-moz-flex: 5;
	-ms-flex: 5;
	-o-flex: 5;
	flex: 5;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
}

.wpgmza-in-map-grid .wpgmza-cell
{
	-webkit-flex: 4;
	-moz-flex: 4;
	-ms-flex: 4;
	-o-flex: 4;
	flex: 4;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	text-align: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column wrap;
	-moz-flex-flow: column wrap;
	-ms-flex-flow: column wrap;
	-o-flex-flow: column wrap;
	flex-flow: column wrap;
}

.wpgmza-in-map-grid .wpgmza-cell>*
{
	position: absolute;
	pointer-events: all;
	z-index: 2;
}

.wpgmza-in-map-grid .wpgmza-marker-listing
{
	max-width: 100%;
	max-height: 100%;
	overflow-y: scroll;
}

.wpgmza-in-map-grid .wpgmza-cell[data-grid-position^="top"]>*
{
	top: 0px;
}

.wpgmza-in-map-grid .wpgmza-cell[data-grid-position^="bottom"]>*
{
	bottom: 0px;
}

.wpgmza-in-map-grid .wpgmza-row:not(:last-child) .wpgmza-cell
{
	border-bottom: none !important;
}

.wpgmza-in-map-grid .wpgmza-cell:not(:last-child)
{
	border-right: none !important;
}

.wpgmza-in-map-grid
{
	pointer-events: none;
}

#wpgmza-map-container.wpgmza-layout-dragging .wpgmza-in-map-grid
{
	pointer-events: all;
	background: rgba(255,255,255,0.6);
}

#wpgmza-map-container.wpgmza-layout-dragging .wpgmza-in-map-grid .wpgmza-cell
{
	border: 1px dashed grey;
}

.wpgmza-map.wpgmza-compact
{
	display: flex;
	flex-wrap: wrap;
}

.wpgmza-map.wpgmza-compact>*
{
	flex-basis: 50%;
}

.wpgmza-map.wpgmza-compact>.wpgmza-engine-map
{
	flex-basis: 100%;
}

.wpgmza-map.wpgmza-columns
{
	display: flex;
}

.wpgmza-map.wpgmza-columns>*
{
	flex: 1;
}

.wpgmza-map .sl_use_loc
{
	float: none;
}