.wpgmza-store-locator > div > *
{
	display: inline-block;
	/* vertical-align: top; */
}

.wpgmza-store-locator label,
	.wpgmza-directions-box label
{
	width: 180px;
}

.wpgmza-store-locator input[type="button"]/*,
	.wpgmza-not-found-msg,
	div.wpgmza-waypoint-via,
	.wpgmza-add-waypoint,
	input.wpgmza-get-directions*/
{
	margin-left: 180px;
}

input.wpgmza-directions-from,
	input.wpgmza-directions-to
{
	display: inline-block;
	width: calc(100% - 72px);
}